<% if(success && success.length){ %>
<div
  class="alert alrt-s alert-dismissible fade show col-md-6 offset-2"
  role="alert"
>
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if(error && error.length){ %>
<div
  class="alert alrt-f alert-dismissible fade show col-md-6 offset-md-3"
  role="alert"
>
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
