<footer class="bg-body-tertiary text-center mt-2">  
<%/*  
<section class="mb-4">
    <!-- Facebook -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Twitter -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
    ></a>

    <!-- Google -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
    ></a>

    <!-- Instagram -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
    ></a>

    <!-- Linkedin -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>

    <!-- Github -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
    ></a>
  </section>
*/%>

  <div class=" d-flex justify-content-center">
    <!--Grid column-->
    <div class="col-auto">
      <p class="pt-2">
        <strong>Sight - Your Travel  Helper Platform</strong>
      </p>
    </div>
</div>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); width: 100%;">
Privacy© 2023 Terms And Conditions
</div>

</footer>
